.app {
  display: flex;
  height: 100vh;
}

.editor {
  width: 50%;
  height: 100%;
  padding: 10px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.preview {
  width: 50%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
}
