/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

li{
    display: flex;
    /* background-color: wheat; */
    /* justify-content: space-between; */
}


li p{
    width: 30%;
    background-color: blueviolet;
}



